* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
  font-size: 1.5em;
}

.form__input {
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: inherit;
  border-width: 0;
  border-bottom: 1px solid #a2a2a2;
}

.form__input:focus {
  outline: 0;
}
